<a href="https://colab.research.google.com/github/MaximuxxS/recruit/blob/main/Estruturas_de_dados_iter%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Definição das tuplas
Tupla1 = ("1","2","3","5")
Tupla2 = ("A",)
NaoEhTupla = ("A") #tem que ter vírgula para ser tupla. Vírgula e parênteses

In [4]:
#Imprime a variável Tupla1
print("Tupla1:", Tupla1)
#Imprime o tipo da variável Tupla1
print("A Tupla1 é do tipo:", type(Tupla1))
#imprime o tamanho da tupla
print("O tamanho da Tupla1 é:",len(Tupla1), "\n")

Tupla1: ('1', '2', '3', '5')
A Tupla1 é do tipo: <class 'tuple'>
O tamanho da Tupla1 é: 1

In [5]:
print("Tupla2:", Tupla2)
print("A Tupla2 é do tipo:", type(Tupla2))
print("O tamanho da Tupla2 é:",len(Tupla2), "\n")

print("NaoEhTupla:", NaoEhTupla )
print("NaoEhTupla é do tipo:", type(NaoEhTupla))
print("O tamanho da variável NaoEhTupla é:",len(NaoEhTupla), "\n")

Tupla2: ('A',)
A Tupla2 é do tipo: <class 'tuple'>
O tamanho da Tupla2 é: 1

NaoEhTupla: A
NaoEhTupla é do tipo: <class 'str'>
O tamanho da variável NaoEhTupla é: 1

In [7]:
#Definição da tupla
Tupla1 = ( 6,'6','8','1') #Caso não tenha vírgulas, é considerado string
print("Tupla1 : ", Tupla1)

#imprime o valor do primeiro elemento da lista - índice 0
print("O primeiro elemento da Tupla1 é:", Tupla1[0]) #Entre colchetes tem o índice escolhido

#imprime o tipo do primeiro elemento da Tupla1
print("O primeiro elemento da Tupla1 é do tipo:",type(Tupla1[0]))

#imprime o segundo elemento da Tupla1
print("O segundo elemento da Tupla1 é:", Tupla1[1])

#imprime o primeiro e o segundo elemento da tupla
print("Imprime o primeiro e o segundo elemento da Tupla1", Tupla1[:2], "\n")

#imprime o último elemento da Tupla1
print("O último elemento da Tupla1 é:", Tupla1[-1])

#imprime o penúltimo elemento da Tupla1
print("O penúltimo elemento da Tupla1 é", Tupla1[-2])

#imprime o penúltimo e o último elemento da Tupla1
print("Imprime o penúltimo e último elemento da Tupla1", Tupla1[-2:])

#imprime a Tupla1 na ordem inversa
print("A Tupla1 em ordem inersa é:", Tupla1[::-1])

Tupla1 :  (6, '6', '8', '1')
O primeiro elemento da Tupla1 é: 6
O primeiro elemento da Tupla1 é do tipo: <class 'int'>
O segundo elemento da Tupla1 é: 6
Imprime o primeiro e o segundo elemento da Tupla1 (6, '6')

O último elemento da Tupla1 é: 1
O penúltimo elemento da Tupla1 é 8
Imprime o penúltimo e último elemento da Tupla1 ('8', '1')
A Tupla1 em ordem inersa é: ('1', '8', '6', 6)

In [ ]:
valor = int(input("Entre com o valor desejado para saque:"))

notas = (100, 50, 20, 10, 5)

notas100 = int(valor / notas[0])
resto = valor % notas[0]
print ("Entregar ", notas100, "notas de ", notas[0])

notas50 = int(valor / notas[1])
resto = valor % notas[1]
print ("Entregar ", notas50, "notas de ", notas[1])

notas20 = int(valor / notas[2])
resto = valor % notas[2]
print ("Entregar ", notas20, "notas de ", notas[2])

notas10 = int(valor / notas[3])
resto = valor % notas[3]
print ("Entregar ", notas10, "notas de ", notas[3])

notas5 = int(valor / notas[4])
resto = valor % notas[4]
print ("Entregar ", notas5, "notas de ", notas[4])

In [8]:
valor = int(input("Entre com o valor desejado para saque:")) # Máquina de troco mais avançada em questão do codigo

notas = (100, 50, 20, 10, 5)

for i in range(0,len(notas)):# Inicia-se no índice 0 e vai até o último índice da variável notas

    quantidade = int(valor / notas[i])
    resto = valor % notas[i]
    print (i+1," - Entregar ", quantidade, "notas de ", notas[i])

Entre com o valor desejado para saque:34132
1  - Entregar  341 notas de  100
2  - Entregar  682 notas de  50
3  - Entregar  1706 notas de  20
4  - Entregar  3413 notas de  10
5  - Entregar  6826 notas de  5

In [ ]:
valor = int(input("Entre com o valor desejado para saque:")) # Outra maneira de fazer uma máquina de troco.

notas = (100, 50, 20, 10, 5)

i = 0

while (i < len(notas)):

    quantidade = int(valor / notas[i])
    resto = valor % notas[i]
    print (i+1," - Entregar ", quantidade, "notas de ", notas[i])
    i = i + 1

In [ ]:
valor = int(input("Entre com o valor desejado para saque:"))

notas = (100, 50, 20, 10, 5)


for nota in notas:

    quantidade = int(valor / nota)
    resto = valor % nota
    print ("Entregar ", quantidade, "notas de ", nota)

In [ ]:
tupla = ("A", "B", "C")
for i, v in enumerate(tupla):
    print(i, " - ",v)

In [ ]:
Tupla1 = ("1","2","3",5)
type(Tupla1[2])

In [ ]:
dicionario = {"Caderno":10,
              "Lapiseira":15,
              "Borracha":"nada"}

print(dicionario)

In [ ]:
dicionario["Borracha"]="tudo"
print(dicionario["Borracha"])

In [ ]:
print(dicionario)

In [ ]:
dicionario = {"Caderno":10,"Lapiseira":15,"Borracha":5}

print("O caderno custa "+str(dicionario["Caderno"]))
print("A lapiseira custa "+str(dicionario["Lapiseira"]))
print("A borracha custa "+str(dicionario["Borracha"]))

In [ ]:
dicVazio = {}

dicVazio["Caderno"] = 10

dicVazio["Lapiseira"] = 15

dicVazio["Borracha"] = 5

print(dicVazio)

In [ ]:
dicionario = {"key1":15, "key2":10, "key3":128}

for k, v in dicionario.items():
    print (k, v)